<div class="card my-3" >
    <div class="row g-0">
        <div class="col-md-4">
            <img
                src="{{card?.imagePath}}"
                class="img-fluid rounded-start"
                alt="Card title"
            />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{card?.Nombre}}</h3>
                <p class="card-text">{{card?.Raza}}</p>
                <p class="card-text">{{card?.Tipo}}</p>
                <p class="card-text">{{card?.Frec}}</p>
                <p class="card-text">{{card?.Cod}}</p>
                <p class="card-text">{{card?.Arte}}</p>
                <p class="card-text">{{card?.Nombre}}</p>
            </div>
        </div>
    </div>
</div>
